{% extends 'base.html' %}
{% block title%}
    404 - Not found.
{% endblock %}
{% block content %}
    <div class="row box padding">
        <div class="col-md-6">
            <h1 class="e404"><strong>[404]</strong></h1>
        </div>
        <div class="col-md-6">
            <h1 class="page">Page can not be found.</h1>
            <h6 class="e404">We are sorry, but the page you are looking for might have been removed, had its name changed or is temporarily unavailable.</h6>
            <p>
            <a class="btn btn-primary" href="/">
                Get me back to homepage!
            </a>
            </p>
        </div>
    </div>
{% endblock %}