{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3 left-menu">
        <div class="">
            <h3>Sofas</h3>
            <ul>
                <li class="active"><a href="http://nicolette.ro/sapphire-html/category.html">trendy</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">elegant</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">expensive</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">elegant</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">expensive</a></li>
            </ul>
            <h3>Couches</h3>
            <ul>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">trendy</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">elegant</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">expensive</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">elegant</a></li>
            </ul>
            <h3>Tables</h3>
            <ul>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">expensive</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">elegant</a></li>
                <li><a href="http://nicolette.ro/sapphire-html/category.html">expensive</a></li>
            </ul>
        </div>
        <div class="options">
            <select class="selectpicker" data-width="150px" style="display: none;">
                <option>EN</option>
                <option>IT</option>
                <option>FR</option>
            </select>
            <div class="btn-group bootstrap-select" style="width: 150px;">
                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="EN"><span class="filter-option pull-left">EN</span>&nbsp;<span class="caret"></span></button>
                <div class="dropdown-menu open">
                    <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">EN</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                        <li rel="1"><a tabindex="0" class="" style=""><span class="text">IT</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                        <li rel="2"><a tabindex="0" class="" style=""><span class="text">FR</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                    </ul>
                </div>
            </div>
            <select class="selectpicker" data-width="150px" style="display: none;">
                <option>Euro</option>
                <option>Pounds</option>
                <option>US Dollars</option>
            </select>
            <div class="btn-group bootstrap-select" style="width: 150px;">
                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Euro"><span class="filter-option pull-left">Euro</span>&nbsp;<span class="caret"></span></button>
                <div class="dropdown-menu open">
                    <ul class="dropdown-menu inner selectpicker" role="menu">
                        <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Euro</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                        <li rel="1"><a tabindex="0" class="" style=""><span class="text">Pounds</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                        <li rel="2"><a tabindex="0" class="" style=""><span class="text">US Dollars</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress1home" src="/static/img/dress1home.jpg"></a>
                    <div class="name">
                        <a href="">Elegant Dress</a>
                    </div>
                    <div class="price">
                        <p>$200.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dres2" src="/static/img/dress5home.jpg"></a>
                    <div class="name">
                        <a href="">Lace Dress</a>
                    </div>
                    <div class="price">
                        <p>$250.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress3" src="/static/img/dress6home.jpg"></a>
                    <div class="name">
                        <a href="">Floral Dress</a>
                    </div>
                    <div class="price">
                        <p>$500.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress5" src="/static/img/dress3home.jpg"></a>
                    <div class="name">
                        <a href="">Midi Dress</a>
                    </div>
                    <div class="price">
                        <p>$50.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress6" src="/static/img/dress4home.jpg"></a>
                    <div class="name">
                        <a href="">White Dress</a>
                    </div>
                    <div class="price">
                        <p>$120.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <div class="product_sale">-30%</div>
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress7" src="/static/img/dress7home.jpg"></a>
                    <div class="name">
                        <a href="">Red Dress</a>
                    </div>
                    <div class="price">
                        <p>$20.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <div class="product_sale">Sale</div>
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress1home" src="/static/img/dress1home.jpg"></a>
                    <div class="name">
                        <a href="">Elegant Dress</a>
                    </div>
                    <div class="price">
                        <p>$200.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dres2" src="/static/img/dress5home.jpg"></a>
                    <div class="name">
                        <a href="">Lace Dress</a>
                    </div>
                    <div class="price">
                        <p>$250.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product">
                    <a href="http://nicolette.ro/sapphire-html/product.html"><img alt="dress3" src="/static/img/dress6home.jpg"></a>
                    <div class="name">
                        <a href="">Floral Dress</a>
                    </div>
                    <div class="price">
                        <p>$500.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter clearfix">
                    <h3>Newsletter</h3>
                    <div>
                        <input type="text" name="email" class="email">
                        <input type="submit" value="Subscribe" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
